* {
  box-sixing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  background: black;
  -webkit-perspective: 800;
  position: relative;
  padding-top: 80px;
}

body * {
  font-family: "Exo 2", "Lato", "Helvetica Neue", sans-serif;
}

h1, h2, h3, h4, h5 {
  font-weight: 600;
}

.level-header {
  text-align: center;
  color: #DDD;
  font-size: 30px;
  margin: 15px 0 0 0;
  padding: 0;
}

.order {
  text-align: center;
  color: #777;
  font-size: 50px;
  padding: 0;
  margin: 0 0 20px 0;
  font-weight: 400;
}

.table {
  margin: 15px auto 30px auto;
  background: #DDD;
  padding: 20px;
  width: 800px;
  display: block;
  text-align: center;
  background: #dd992d;
  border-bottom: solid 10px #ac741c;
  -webkit-transform: rotateX(20deg);
}


.bento,.plate,.serving,.apple,.pickle,.orange {
  -webkit-transition:  -webkit-transform linear .2s;
}

.bento,.plate {
  box-shadow: 0px 8px 0px rgba(0,0,0,.1);

}



.plate {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 0 10px;
  border-bottom: solid 5px #DDD;
  background: white;
  -webkit-border-radius: 100px;
  position: relative;
}

.bento {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 0 10px;
  background: brown;
  position: relative;
  border: solid 3px #711c12;
  border-width: 10px 2px;
}

.clean {
  -webkit-transform: translateY(-400px);
  opacity: .2;
}

.input-wrapper {
  margin: 0 auto;
  text-align: center;
  height: 80px;
  margin-top: 5px;
  color: #777;
  font-size: 25px;
}

.input-wrapper input {
  font-family: menlo, monospace;
  font-size: 22px;
  padding: 16px;
  width: 500px;
  color: #444;
  margin-left: 5px;
  border: 8px solid #333;
}

.input-wrapper input:focus {
  outline: none;
  border-color: #555;
}

.result {
  padding: 10px 0;
  color: #BBB;
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
}

.apple,.pickle,.orange {

  box-shadow: 0px 5px 0px rgba(0,0,0,.2);
  opacity: 1;
}

.apple {
  background: #e41919;
  border-color: #ab1212;
}

.orange, .apple {
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  height: 50px;
  width: 50px;
  -webkit-border-radius: 50px;
  border-style: solid;
  border-width: 2px 4px 15px 4px;
}

.orange {
  background: orange;
  border-color: #bd6e07;
}



.pickle {
  background: #179837;
  height: 50px;
  width: 20px;
  -webkit-border-radius: 30px;
  position: absolute;
  border: solid 2px #025a18;
  border-width: 2px 2px 7px 2px;
  top: calc(50% - 25px);
  left: calc(50% - 10px);
}

.shake {
  -webkit-animation: shake .1s 5;
}

@-webkit-keyframes shake {
  0%   { -webkit-transform: translateX(0); }
  25% {  -webkit-transform: translateX(-5px); }
  50% {  -webkit-transform: translateX(0); }
  75% {  -webkit-transform: translateX(5px); }
}


.strobe {
  -webkit-animation: strobe .2s 5;
}

@-webkit-keyframes strobe {
  0%   { opacity: 1; }
  50% { opacity:.5; }
  100% { opacity: 1; }
}

.enter-button {
  background: #ddd;
  display: inline-block;
  border-radius: 3px;
  padding: 10px;
  color: #666;
  border: solid 3px #999;
  border-width: 3px 3px 20px 3px;
  margin-left: 10px;
  position: relative;
  top: -14px;
  font-size: 16px;
}

.enterhit {
  -webkit-animation: enterhit .2s 1;
}

@-webkit-keyframes enterhit {
  0%   {  }
  50% { border-width: 3px 3px 10px 3px; top: -4px;}
  100% {  }
}

.plus {
  color: #666;
  padding: 0px 5px 0 15px;
  font-size: 40px;
}

[data-hovered="true"] {
  outline: rgba(255,255,255,.3) 5px solid;
}

.plate [data-hovered="true"] {
  outline: rgba(0,0,0,.2) 5px solid;
}

.helper {
  position: absolute;
  background: white;
  padding: 10px 15px 12px 15px;
  z-index: 1000;
  font-size: 15px;
  border-bottom: solid 2px #BBB;

  box-shadow: 0px 5px 0px rgba(0,0,0,.2);
  display: none;
  -webkit-transform: rotateX(20deg);
}

