* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html,body {
  margin: 0;
  padding: 0;
}

body {
  background: #2e2a23;
  background-image: -webkit-radial-gradient(20% 40%,cover circle, #3e392f, #221e17);
  background-image: -moz-radial-gradient(20% 40%,contain circle, #3e392f, #221e17);
  background-repeat: no-repeat;
  position: relative;
}

body * {
  font-family: "Exo 2", "Lato", "Helvetica Neue", sans-serif;
}

h1, h2, h3, h4, h5 {
  font-weight: 600;
}

header {
  padding: 10px 20px 10px 35px;
  background: rgba(0,0,0,.5);
  color: rgba(255,255,255,.3);
}

.logo {
  cursor: default;
  -webkit-transform-origin: middle;
  -webkit-transform: scale(.2);
  transform-origin: middle;
  transform: scale(.2);
  z-index: 9999999;
  position: absolute;
  top: 10px;
  left: 10px;
}

.logo plate {
  z-index: 500;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  opacity: .5;
  -webkit-transition: all linear .1s;
}

.logo .css {
  z-index: 9999;
  font-size: 50px;
  font-weight: 600;
  color: #555;
  position: absolute;
  width: 100%;
  top: 18px;
  left: 0px;
  text-align: center;
}

.logo .diner {
  width: 0px;
  overflow: hidden;
  color: #777;
  font-family: "Exo 2";
  text-align: left;
  position: absolute;
  top: 19px;
  left: 108px;
  z-index: 600;
  font-size: 48px;
  -webkit-transition: all linear .1s;
}

.logo:hover .diner {
  width: 120px;
}

.logo:hover plate {
  opacity: .75;
}



.table-wrapper {
  margin-top: 10px;
  -webkit-transform: rotateX(20deg) translate3d(0,0,0);
  transform: rotateX(20deg) translate3d(0,0,0);
  min-height: 142px;
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  -transform-style: preserve-3d;
}

.table {
  box-shadow: 0px 40px 10px rgba(0,0,0,.2);
  -moz-box-shadow: 0px 40px 10px rgba(0,0,0,.2);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  outline: solid 1px transparent;
  margin: 0px auto 0px auto;
  background: #DDD;
  min-height: 142px;
  padding: 15px 15px 22px 15px;
  display: inline-block;
  background: #dd992d;
  background: -webkit-linear-gradient(#dd992d,#cd8c26);
  z-index: 999;
  position:relative;
}

.table-edge  {
  outline: solid 1px transparent;
  display: none;
  display: block;
  margin:0 auto 10px auto;
  background: #ac741c;
  height: 15px;
  transform: rotateX(-40deg);
  -webkit-transform: rotateX(-40deg);
  -webkit-transform-origin: top;
  transform-origin: top;
}

.table-leg {
  width: 24px;
  height: 10px;
  background: #84570f;
  position: absolute;
  top: 15px;
}

.table-leg:first-child {
  left: 20px;
}

.table-leg:last-child {
  right: 20px;
}

orange,apple,pickle,bento,plate{
  -webkit-transition: all -webkit-transform ease-out .2s;
}

.clean {
  -webkit-animation: cleanme .2s 1;
  -webkit-transform: translateY(-600px) rotate3d(0,0,0,0deg);
  -moz-animation: cleanme .2s 1;
  -moz-transform: translateY(-600px);
}

@-webkit-keyframes cleanme {
  0% {   -webkit-transform: translateY(0px) rotate3d(0,0,0,0deg); }
  100% { -webkit-transform: translateY(-600px) rotate3d(0,0,0,0deg);}
}

@-moz-keyframes cleanme {
  0% {   transform: translateY(0px) rotate3d(1,0,0,0deg) ; }
  100% { transform: translateY(-600px) rotate3d(1,0,0,0deg);}
}

bento, plate {
  box-shadow: 0px 8px 0px rgba(0,0,0,.1);
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 0 10px;
  position: relative;
}

plate {
  border-bottom: solid 5px #DDD;
  background: white;
  -webkit-border-radius: 100px;
  border-radius: 100px;
}

bento {
  height: 100px;
  background: brown;
  position: relative;
  border: solid 3px #711c12;
  border-width: 20px 2px;
}



plate bento {
  height: 74px;
  width: 74px;
  position: absolute;
  top: -8px;
  left:4px;

}

plate bento apple,
plate bento orange {
  top: -36px !important;
}

bento:before {
  content:"";
  position: absolute;
  width: calc(100%);
  top: 0;
  left:0;
  border: solid 10px rgba(0,0,0,.1);
  border-width: 10px 0 0 0px;
}

.editor {
  position: relative;
  text-align: left;
  width: 750px;
  margin: 0 auto;
  border: solid 10px rgba(0,0,0,.35);
  -webkit-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.editor-pane {
  float: left;
  width: 50%;
}

.editor-pane:last-child {
  border-right: solid 1px rgba(255,255,255,.03);
  border-bottom: solid 1px rgba(255,255,255,.03);
}

.editor * {
  font-family: menlo,monospace;
  font-size: 14px;
  line-height: 150%;
  padding: 0;
  margin: 0;
}

.editor .input-header {
  text-align: left;
  padding: 10px 15px;
  background: rgba(0,0,0,.15);
  border-top: solid 1px rgba(255,255,255,.05);
  border-bottom: solid 2px #222;
  -webkit-border-radius: 2px 2px 0 0;
  color: rgba(255,255,255,.6);
}

.markup {
  line-height: 150%;
  font-family: menlo;
  z-index: 1;
}

.editor .file-window {
  padding: 10px 10px 10px 46px;
  position: relative;
  min-height: 432px;
}

.editor .css-view {
  background: #efefef;
  color: #AAA;

}

.editor .file-name {
  float: right;
  opacity: .5;
}

.editor .line-numbers {
  position: absolute;
  top: 0;
  left: 0;
  font-family: menlo, monospace;
  padding: 10px 10px;
  height: 100%;
  line-height: 150%;
  text-align: right;
}

.css-view .line-numbers {
  color: #999;
  background: #DDD;
}

.html-view .line-numbers {
  color: #666;
  border-right: solid 1px #333;
}

.html-view .file-window {
  background: rgba(0,0,0,.3);
}

.editor input {
  font-family: menlo, monospace;
  color: #333;
  border: none;
  width: calc(100% - 44px);
  background: none  ;
}

.editor input.input-strobe {
  background: rgba(62,203,255,.3);
  -webkit-animation: input .5s infinite;
  -moz-animation: input .5s infinite;

}

@-webkit-keyframes input {
  50% { background:none ; }
}

@-moz-keyframes input {
  50% { background:none ; }
}

.editor input:focus {
  outline: none;
  border-color: #555;
}

.result {
  padding: 10px 0;
  color: #BBB;
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
}

apple {
  background: #e41919;
  border-color: #ab1212;
}

orange {
  background: orange;
  border-color: #bd6e07;
}

orange,apple,pickle {
  box-shadow: 0px 5px 0px rgba(0,0,0,.2);
  display: inline-block;
  margin: 0 10px;
  height: 60px;
}



carrot {
  background: orange;
  width: 60px;
  height: 60px;
  display: inline-block;
  box-shadow: 0px 5px 0px rgba(0,0,0,.15);

  background: #f9e4ac;
  border-style: solid;
  border-color: #88611e;
  border-width: 2px 2px 12px 2px;
  -webkit-border-radius: 15px 15px 6px 6px;
  border-radius: 15px 15px 6px 6px;
  margin: 20px 10px;
}


orange,apple {
  -webkit-border-radius: 100px;
  border-radius: 100px;
  border-style: solid;
  border-width: 2px 4px 15px 4px;
  height: 60px;
  width: 60px;
  position: relative;
  margin: 20px 10px;
}

orange.small,
apple.small {
  height: 30px;
  width: 30px;
  border-width: 2px 4px 8px 4px;
  margin: 30px 10px;
}


pickle {
  background: #179837;
  width: 25px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  display: inline-block;
  position: relative;
  border: solid 2px #025a18;
  border-width: 2px 2px 9px 2px;
  margin: 20px 10px;
}


pickle.small {
  height: 40px;
  width: 18px;
  border-width: 1px 2px 6px 2px;
  margin: 30px 10px;
}

orange:before,apple:before {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255,255,255,.3);
  height: 30%;
  width: 30%;
  top: 0px;
  left: calc(50% - 15%);
  border-radius: 100px;
}

/*FRUITS ON A PLATTER*/

bento orange,
bento apple,
plate orange,
plate apple
 {
  left: calc(50% - 30px);
  margin: 0;
  position: absolute;
}

plate > apple:last-child,
plate > orange:last-child,
bento > apple:last-child,
bento > orange:last-child
{
  top: calc(50% - 35px);
}

plate .small,
bento .small {
  left: calc(50% - 15px);
  margin-left:0;
  margin-right:0;
}

plate > .small:only-child,
bento > .small:only-child {
  position: absolute;
  top: calc(50% - 15px);
  margin:0;
}

plate > pickle:only-child,
bento > pickle:only-child {
  top: calc(50% - 40px);
  left: calc(50% - 10px);
  z-index: 99999;
  margin: 0;
  position: absolute;
}

plate > pickle.small:only-child,
bento > pickle.small:only-child {
  top: calc(50% - 22px);
  left: calc(50% - 8px);
  z-index: 99999;
}

.shake {
  -webkit-animation: shake .1s 5;
  -moz-animation: shake .1s 5;
}

@-webkit-keyframes shake {
  0%   { -webkit-transform: translateX(0); }
  25% {  -webkit-transform: translateX(-5px); }
  50% {  -webkit-transform: translateX(0); }
  75% {  -webkit-transform: translateX(5px); }
}

@keyframes shake {
  0%   { transform: translateX(0); }
  25% {  transform: translateX(-5px); }
  50% {  transform: translateX(0); }
  75% {  transform: translateX(5px); }
}

.strobe {
  -webkit-animation: strobe 1s infinite;
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  animation: strobe 1s infinite;
}

@-webkit-keyframes strobe {
    0% { -webkit-transform:   skew(4deg,0deg) scaleX(1); }
    10% { -webkit-transform:  skew(1deg,0deg) scaleY(.9) ; }
    50% { -webkit-transform:  skew(-4deg,0deg) scaleX(1); }
    60% { -webkit-transform:  skew(-1deg,0deg) scaleY(.9) ; }
    100% { -webkit-transform: skew(4deg,0deg) scaleX(1); }
}

@keyframes strobe {
  0% { transform:   skew(4deg,0deg) scaleX(1); }
  10% { transform:  skew(1deg,0deg) scaleY(.9) ; }
  50% { transform:  skew(-4deg,0deg) scaleX(1); }
  60% { transform:  skew(-1deg,0deg) scaleY(.9) ; }
  100% {transform: skew(4deg,0deg) scaleX(1); }
}

.enter-button {
  background: #ddd;
  display: block;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  padding: 2px 7px 2px 7px;
  color: #666;
  border: solid 3px #999;
  border-width: 1px 1px 6px 1px;
  position: absolute;
  right: 13px;
  font-size: 9px;
  position: absolute;
  cursor: pointer;
  top: 7px;
  right: 7px;
  z-index: 999999;
}

.enterhit {
  -webkit-animation: enterhit .1s 1;
  animation: enterhit .1s 1;
}

@-webkit-keyframes enterhit {
  50% {
    border-width: 1px 1px 2px 1px;
    top: 12px;
  }
}
@keyframes enterhit {
  50% {
    border-width: 1px 1px 2px 1px;
    top: 12px;
  }
}

.plus {
  color: #666;
  padding: 0px 4px;
  font-size: 40px;
  display: none;
}

[data-hovered="true"] {
  box-shadow: 0 0 0 6px rgba(255,255,255,.4);
}


plate [data-hovered="true"] {
  box-shadow: 0 0 0 6px rgba(0,0,0,.3);
}

.helper {
  position: absolute;
  background: white;
  padding: 10px 15px 12px 15px;
  z-index: 1000;
  font-size: 18px;
  color: #666;
  border-bottom: solid 2px #BBB;
  box-shadow: 0px 5px 0px rgba(0,0,0,.2);
  display: none;
  -webkit-transform: rotateX(20deg);
  transform: rotateX(20deg);
  outline: solid 1px transparent;
}

plate:before {
  content: "";
  display: block;
  position: absolute;
  left: calc(50% - 32px);
  top: calc(50% - 32px);
  height: 65px;
  width: 65px;
  border-radius: 60px;
  border-top: solid 6px #CCC;
  opacity: .4;
  background: rgba(255,255,255,1);
}

#fancy:after {
  content: "";
  display: block;
  position: absolute;
  left: calc(50% - 47px);
  top: calc(50% - 44px);
  height: 68px;
  width: 74px;
  border-radius: 60px;
  border: solid 10px #009ff2;
  opacity: .4;
}

orange {
  z-index: 1000;
}

.display-help {
  font-size: 15px;
  margin: 30px auto 0 auto;
  color: rgba(255,255,255,.6);
}

.display-help .selector-name {
  font-size: 18px;
  margin: 0 0 4px 0 ;

}


.display-help .title {
  font-size: 18px;
  margin: 0 0 15px 0;
  font-weight: 300;
  opacity: .7;
}

.display-help .syntax {
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-weight: 200;
  opacity: .8;
  margin-bottom: 25px;
  background: rgba(255,255,255,.05);
  display: inline-block;
  padding: 5px 8px;
  border-bottom: solid 2px rgba(255,255,255,.1);

}

.display-help .hint {
  margin-bottom: 20px;
  line-height: 150%;
}

.display-help .hint,
.display-help .example {
  color: #888;
  font-size: 15px;
}

.display-help .example {
  border-bottom: solid 1px rgba(255,255,255,.05);
  padding: 10px 0 12px 0;
  line-height: 170%;
}

.display-help .example:last-child {
  border: none;
}

.display-help strong,
.display-help tag {
  color: #AAA;
  background: rgba(255,255,255,.1);
  padding: 3px 6px 3px 6px;
  margin: 0px 2px;
  font-size: 13px;
  font-family: menlo,monospace;
}

.display-help .example strong:first-of-type {
  margin-left: 0px;
}

.display-help .selector-wrapper {
  color: #777;
}

.display-help .selector {
  display: none;
  background: #DDD;
  margin: 5px 0 10px 0;
  padding: 14px 20px 14px 20px;
  font-size: 24px;
  border: solid 1px #DDD;
  font-family: menlo, monospace;
  display: inline-block;
  display: none;
  color: #666;
  position: relative;
}

.display-help .selector:before {
  content: "Try";
  color: #999;
  position: absolute;
  font-size: 15px;
  font-weight: normal;
  top: 8px;
  left: -55px;
  padding: 10px;

}

board {
  display: none;
}

/* Fancy orange stacking */

plate apple,
plate orange {
  position: absolute;
}

plate apple:last-child,
plate orange:last-child {
  z-index: 300;
}

plate apple:nth-last-child(2),
plate orange:nth-last-child(2) {
  top: -25px;
  z-index: 400;
}

plate apple:nth-last-child(3),
plate orange:nth-last-child(3)
{
  top: -65px;
  z-index: 500;
}

plate apple:nth-last-child(4),
plate orange:nth-last-child(4)
{
  top: -105px;
  z-index: 600;
}


.teach-wrapper {
  border-right: solid 1px rgba(255,255,255,.1);
  font-size: 16px;
  border-right: solid 1px rgba(255,255,255,.1);
  border-left: solid 1px rgba(255,255,255,.1);
  font-size: 12px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  text-align: left;
  margin: 0;
  padding: 27px 20px 20px 20px;
  color: rgba(255,255,255,.3);
}

.markup * {
  font-family: menlo,monospace;
  cursor: default;
}

.game-wrapper {
  -webkit-perspective: 400px;
  transform: translate3d(0,0,0);
  perspective: 400px;
  text-align: center;
  position: relative;
  padding-top: 15px;
  margin-bottom: 50px;
}

.level-header {
  font-size: 25px;
  margin: 0;
  padding: 0 0 10px 0;
  color: #777;
}

.level-progress {
  width: 100%;
  background: rgba(0,0,0,.4);
}

.level-progress .progress {
  background: rgba(255,255,255,.2);
  width: 10%;
  height: 2px;
  position: relative;
}

.level-progress .progress:after {
  content:"";
  position: absolute;
  right: -6px;
  top: -3px;
  height: 4px;
  width: 4px;
  border: solid 2px #2a231d;
  background: rgba(255,255,255,.5);
  -webkit-border-radius: 5px;
}

.order {
  color: rgba(255,255,255,.3);
  font-size: 45px;
  margin: 0;
  font-weight: 400;
  text-align: center;
  padding: 20px 30px;
}

.info-wrapper {
  display: none;
}

.what-is-this {
  text-align: center;
  margin-top: 35px;
  padding: 20px;
  width: 500px;
  color: #666;
  font-size: 15px;
  margin: 0 auto;
  font-weight: 400;
}

.what-is-this h2 {
  font-weight: 400;
  font-size: 20px;
  color: #888;
}

.what-is-this a {
  color: white;
  opacity: .5;
  text-decoration: none;
}

.what-is-this a:hover {
  opacity: .7;
}

.markup {
  line-height: 150%;
}

.markup * {
  color: rgba(255,255,255,.3);
}

.markup .enhance {
  color: rgba(255,255,255,.7);
}

.markup div {
  padding-left: 20px;
}

.markup > div {
  padding-left: 0px;
}

.col-wrapper {
  overflow: auto;
  width: 100%;
  position: relative;
}

.left-col {
  width: calc(100% - 375px);
  text-align: center;
}

.right-col {
  position: absolute;
  width: 375px;
  height: 100%;
  right: 0;
  top: 0px;
}

.level-menu {
  position: absolute;
  top: 0px;
  height: 100%;
  overflow: hidden;
  -webkit-transition: linear all .1s;
  transition: linear all .1s;
  background: rgba(0,0,0,.9);
  left: 500px;
  padding: 10px;
  width: 100%;
}

.level-menu.open {
  left: 0px;
}

.levels {
  margin-right: 63px;
}

.right-col:hover .level-menu {

}

.right-col {
  overflow: hidden;
}

.right-col .help-wrapper {
  padding: 20px;
  height: 100%;
  background: rgba(0,0,0,.2);
}

.level-menu a {
  display: block;
  cursor: pointer;
  padding: 5px 30px 5px 12px;
  color: #777;
}

.level-menu a:hover {
  color: #999;
}

.level-menu a.current {
  font-weight: bold;
  color: #AAA;
  background: rgba(255,255,255,.1);
}

.level-menu-toggle-wrapper {
  position: absolute;
  top: 22px;
  right: 20px;
  padding: 4px 2px;
  opacity: .7;
  -webkit-transition: linear all .05s;
  transition: linear all .05s;
}

.level-menu-toggle-wrapper:hover {
  opacity: 1;
}

.level-menu-toggle {
  height: 20px;
  width: 27px;
  border-top: solid 2px #666;
  border-bottom: solid 2px #666;
  cursor: pointer;
  position: relative;
}

.level-menu-toggle:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  top: 7px;
  background: #666;
}

.note {
  padding: 20px;
  width: 600px;
  color: #777;
  background: rgba(255,255,255,.9);
  text-align: left;
  margin: 20px auto 20px auto;
  box-shadow: 0px 0px 15px rgba(0,0,0,.5);
  display: none;
}

.note h3 {
  color: #444;
  margin: 0px 0px 5px 0px;
  padding: 0px;
}

.note a {
  color: #1b6f9b;
  background: rgba(27,111,155,.1);
  font-weight: bold;
}

.note .note-toggle:hover {
  color: #1b6f9b;
  background: rgba(27,111,155,.15);
}

.note-toggle {
  background: rgba(0,0,0,.2);
  color: rgba(255,255,255,.3);
  padding: 8px 15px 10px 15px;
  -webkit-border-radius: 20px;
  text-decoration: none;
  display: inline-block;
}

.note-toggle:hover {
  text-decoration: underline;
  color: rgba(255,255,255,.4);
}

.note pre {
  background: #DDD;
  padding: 10px;
  font-family: menlo, monospace;
  margin: 0;
  font-size: 14px;
}

.note h4 {
  font-size: 15px;
  margin: 0 0 5px 0;
  padding: 0;
}

.winner {
  font-size: 30px;
  color: #EEE;
  text-shadow: 0px 4px 0px rgba(0,0,0,.15);
  display: inline-block;
  padding: 5px 20px 0px  20px;
  margin: 0;
}

.winner strong {
  font-size: 40px;
}


.level-nav {
  float: right;
  position: relative;
  left: -150px;
  display: none;
}

tag {
  padding: 0 3px;
  color: #AAA;
  font-size: 13px;
  font-weight: bold;
}

tag:before {
  content: "<";
}

tag:after {
  content: ">";
}
